Makefile
autom4te.cache/
ltmain.sh
stamp-h1
configure
config.status
config.h
config.h.in
onig-config
libtool
aclocal.m4
Makefile.in
*.o
*.obj
*.so
*.lo
*.la
*.pc
*.log
*~
.libs/
.deps/
/build
m4/*.m4
