Makefile
autom4te.cache/
ltmain.sh
stamp-h1
/compile
/test-driver
config.status
config.log
config.h
onig-config
libtool
*.o
*.so
*.lo
*.la
*.pc
*~
.libs/
.deps/
testc
testcu
testp
sample/crnl
sample/encode
sample/listcap
sample/names
sample/posix
sample/simple
sample/sql
sample/syntax
